.logo {
    width: 50px;
    height: 30px;
    display: flex;

}

.main-nav {
    width: 1346px;
    display: flex;
    gap:30px;
    justify-content: flex-end;
    margin-right: 0;

}

.link {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}

.hero-img {
    width: 1346px;
    height: 665px;
}

.hero {
    width: 767px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc((100% - 767px)/2);
    padding-top: 150px;
}

.hero > h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 300;
}

.hero > p {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.button1,
.button2 {
    text-decoration: none;
}

.button1 {
color: white;
display: flex;
flex-wrap: wrap;
gap: 1em;
font-size: 1.3em;
background-color: black;
padding: 0.5em 1em;
width: 8.7em;
margin-top: 1em;
line-height: 1.2em;
margin-right: 0;
}

.button2 {
color: black;
display: flex;
flex-wrap: wrap;
gap: 1em;
font-size: 1.3em;
background-color: white;
padding: 0.5em 1em;
width: 15.2em;
margin-top: 1em;
line-height: 1.2em;
margin-left: 0.4em;
 }


.title {
    background-color: #F6F6F6;
    margin: 0;
    width: 1346px;
    font-size: 48px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    padding-top: 90px;
    padding-bottom: 70px;

}
.content {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 1346px;
    height: 530px;
}

.column {
    justify-content: center;
    margin: 0;
    width: 370px;   
    margin-left:60px
}

.column > p {
    font-size: 24px;
    text-align: center;
    margin: 0; 
}

.column > img {
    margin-bottom: 70px;
}

.duk {
    width: 900px;
    margin-left: 230px;

}
.duk .title {
    background-color: white;
    padding-top: 0;
    margin-left: 0;
    width: 900px;
}

.text {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
}

.text > h3 {
    width: 350px;
}
.text > p {
    font-size: 20px;
    width: 350px;
    padding-bottom: 30px;
}
.try {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-left {
    margin-left: 0;
}

.btn2 {
    display: flex;
    margin-left: 270px;
}

.btn2 .button1 {
    border-radius: 0.3em;
} 

.btn2 .button2 {
    width: 7em;
    background-color: #F6F6F6;
    border-radius: 0.3em;
}